body{
    text-align: center;
    color: silver;
}
#video iframe{
    width:100%
  
}
#map iframe{
    width: 80%;
}
img{
    margin-left: 300px;
}
h3{
    margin-right: 250px;
    color: darkcyan;
}
h4{
    margin-right: 250px;
    color: darkcyan;
}
.contact_1{
    margin-right: 250px;
}